.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .header {
    padding: 8px 8px;
  }
  .container {
    padding: 2px 16px;
  }
  .ima {
    border-radius: 10px;  
  }

  .title-card {
    font-size: 15px;
  }

  .dir1-card{
    font-size: 10px;
  }

  .dir2-card{
    font-size: 10px;
  }

  .button-style {
    background-color: hsl(199, 95%, 34%);
    border-radius: 5px;
    font-size: 17px;
    padding: 6px 18px;
    color:rgb(255, 255, 255);
  }